<h1>{{ title }}</h1>
<div id="messages">
    <div *ngIf="error" class="badge badge-pill badge-danger">{{ error }}</div>
    <div *ngIf="success" class="badge badge-pill badge-primary">{{ success }}</div>
</div>


<div id="theList">
  <h2 id='listTitle'>The list</h2>
  <div class="list-group">
    <div *ngFor="let item of cars; let i = index;" class="list-group-item row">
      <div class="col-md-5">
        <!-- the component is responsible for impacting the DOM due to a change in the model (property binding) AND the DOM notifies the Component of a change via the transmission of an event (event binding) -->
        <!-- #model & #price are local references. That means you can easily access the variable anywhere in the template -->
        <!-- is-invalid is a CSS class in case the validation rules are not respected -->
        <input type="text"
                      [(ngModel)] ="cars[i].model"
                      class="form-control"
                      required
                      pattern="^[a-zA-Z]+$"
                      #model="ngModel"
                      [ngClass]="{'is-invalid': model.touched && model.invalid}">
      </div>

      <div class="cl-5-md">
        <input type="number"
                      [(ngModel)]="cars[i].price"
                      class="form-control"
                      required
                      #price="ngModel"
                      [ngClass]="{'is-invalid': price.touched && price.invalid}">
      </div>

      <div class="col-md-2">
        <input type="button"
                      value="Update"
                      class="btn btn-primary btn-sm"
                      [disabled]="model.invalid || price.invalid"
                      (click)="updateCar(model, price, item.id)">

        <input type="button"
        value="Delete"
        class="btn btn-dark btn-sm"
        (click)="deleteCar(item.id)">
        <!-- sends the id of the item to be deleted to the service -->
      </div>
    </div>

  </div>
</div>


<div id="theForm">
  <h2>The form</h2>
  <form #f="ngForm" name="theForm" (submit)="addCar(f)">
    <div class="form-group">
      <label>Model </label>
      <input type="text"
                  class="form-control"
                  name="model"
                  [(ngModel)]="car.model"
                  #carModel="ngModel"
                  required
                  pattern="^[a-zA-Z]+$">
      <span class="help-block danger" *ngIf="!!carModel.errors?.required && carModel.touched">
        The model name is required
      </span>
      <span class="help-block danger" *ngIf="!!carModel.errors?.pattern && carModel.touched">
        The model name can only contain the letters a-z or A-Z
      </span>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number"
                  class="form-control"
                  name="price"
                  required
                  [(ngModel)]="car.price"
                  #carPrice="ngModel">
      <span class="help-block danger" *ngIf="!!carPrice.errors?.required && carPrice.touched">
        The price is required
      </span>
    </div>

    <button class="btn btn-primary btn-sm" [disabled]="f.invalid"> Add </button>
  </form>
</div>
