h2, h1 {
  font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
  text-align: center;
  color: #78c2ad;
  font-size: 4em;
}

#listTitle, #messages {
  text-align: center;
}

div#theList, div#theForm {
  margin: auto;
  margin-top: 2%;
}

div#theList {
  width: 80%;
  margin-bottom: 5%;
}

div#theForm {
  width: 60%;
  margin-bottom: 2%;
}

.list-group-item {
  display: flex;
  justify-content: space-around;
}

input.btn {
  justify-content: flex-end;
}

.col-md-2 {
  display: flex;
  justify-content: space-around;
}
